{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block sectionTitle %}
    Modifier mot de passe
{% endblock %}

{% block section %}
<div id="change-password">
    <div class="container py-4">
        <div class="form-sm-ctr">
            {% if alert %}
            <div class="alert {{ alert.bgColor }} alert-dismissible fade show" role="alert">
                <strong>{{ alert.type }}</strong> {{ alert.message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}           
            <h4 class="mb-4">Modifier mot de passe</h4>
            {% form_theme changePasswordForm 'bootstrap_5_layout.html.twig' %}
            {{ form_start(changePasswordForm) }}
                {{ form_row(changePasswordForm.oldPwd,
                    { label: 'Mot de passe actuel', attr: { placeholder: 'Mot de passe actuel' }, row_attr: { class: 'form-floating mb-3' } }) }}
                {{ form_row(changePasswordForm.newPwd.first,
                    { label: 'Nouveau Mot de passe', attr: { placeholder: 'Nouveau Mot de passe' }, row_attr: { class: 'form-floating mb-3' } }) }}
                {{ form_row(changePasswordForm.newPwd.second,
                    { label: 'Répétez mot de passe', attr: { placeholder: 'Répétez mot de passe' }, row_attr: { class: 'form-floating mb-3' } }) }}    
                <button type="submit" class="btn-custom-block mb-4">Valider</button>
            {{ form_end(changePasswordForm) }}
        </div>   
   </div>
</div>
{% endblock %}
