{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block section %}
<div class="container py-4">
    <div class="form-sm-ctr">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            

            <h4 class="mb-4">S'identifier</h4>
            <div class="form-floating mb-3">
                 <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="email" required autofocus>
                <label for="inputEmail">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
                <label for="inputPassword">Mot de passe</label>
            </div>
            <div class="text-center">
                <small><a href={{ path('app_demand_reset_pwd') }}>Mot de passe oublié ?</a></small>
            </div>
           
           
           
           

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn-custom-block my-3" type="submit">
                Se connecter
            </button>

            <hr>
            <div class="text-center">
                <a class="link-custom" href={{ path('app_register') }}>Où créer un comte ElectrDeals</a>
            </div>
            

        </form>
    </div>
   
</div>

{% endblock %}
