{% extends 'base.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block section %}
<div id="home">
    <!-- compte à rebour lancé-->
    <div id="countdown-card" class="card mt-0">
        <img src={{ asset('assets/img/hotdeal.png') }} class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class=" d-flex justify-content-center my-4 my-lg-5">
                <ul class="d-flex list-unstyled">
                    <li>
                        <div>
                            <h4 id="countdown-d">0</h4>
                            <span>Jours</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4 id="countdown-h">0</h4>
                            <span>Heures</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4 id="countdown-m">0</h4>
                            <span>Mins</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h4 id="countdown-s">0</h4>
                            <span>Secs</span>
                        </div>
                    </li>
                </ul>
            </div>
                <h3 class="card-title text-center text-uppercase">Lancement du site iminent...</h3>
        </div>
    </div>
    <!-- container-->
    <div class="container px-4 px-lg-5">
        <!-- presentation iphone 14-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src={{ asset('assets/img/iphone-14.jpg') }} alt="iphone-14" /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">iPhone 14 : déjà en promotion !</h1>
                <p>L'iPhone 14 a officiellement été dévoilé par Apple il y a moins d'une semaine. Ce nouveau téléphone haut de gamme sera disponible à partir de ce vendredi 16 septembre sur les sites web revendeurs et magasins physiques. Si vous ne voulez pas attendre, et désirez réserver votre exemplaire dès aujourd'hui, c'est possible ! Les précommandes sur l'iPhone 14 sont ouvertes depuis quelques jours, et ce dernier est déjà concerné par des offres de promotions!</p>
                <a href={{ path('app_product') }}><button class="btn-custom">Voir l'offre !</button></a>
            </div>
        </div>
        <hr />
         <!-- presentation fifa 23-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
           <div class="col-lg-5">
                <h1 class="font-weight-light">FIFA 23</h1>
                <p>EA SPORTS FIFA 23 vous permet de vivre The World’s Game sur le terrain avec la technologie HyperMotion2 qui apporte encore plus de réalisme au gameplay. Disputez les Coupes du Monde de la FIFA féminine et masculine grâce à des mises à jour d'après-lancement, défendez les couleurs de clubs féminins et bénéficiez des fonctions universelles*, entre autres. Profitez d’un réalisme sans précédent avec plus de 19 000 joueurs, plus de 700 équipes, plus de 100 stades et plus de 30 compétitions dans FIFA 23.</p>
                <a href={{ path('app_product') }} class="float-end"><button class="btn-custom">Voir l'offre !</button></a>
            </div>
             <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src={{ asset('assets/img/fifa-23.png') }} alt="fifa-23" /></div>
        </div>
        <hr />
        <div class="pt-3 text-center container">
            <div class="row pt-lg-3">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Meilleures ventes</h1>
                    <p class="lead text-muted">Nos produits les plus populaires selon les ventes. Mises à jour régulièrement</p>
                </div>
            </div>
        </div>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for product in products %}
                    <div class="col">
                        <div class="card shadow-sm h-100">
                            <img src='/uploads/{{ product.picture }}'  alt="image produit" class="bd-placeholder-img card-img-top p-md-2 p-lg-5" >
                            <div class="card-body">
                                <p class="card-text">{{ product.subtitle }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href={{ path('app_product_details', {'slug': product.slug}) }}>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">{{ (product.price / 100)|number_format(2 , ',', '.')}} €</button>
                                        </a>
                                        <a href={{ path('app_product_details', {'slug': product.slug}) }}>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Détails</button>
                                        </a>
                                    </div>
                                    <small class="text-muted"> {% if product.statement == 1 %} neuf{% else %}occasion{% endif %} </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/compte-a-rebour.js') }}"></script>
{% endblock %}

