<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {% block title %}{% endblock %} - ElectroDeals</title>
    
    <link rel="stylesheet" href={{ asset('assets/node_modules/bootstrap/dist/css/bootstrap.min.css') }}>
    <link rel="stylesheet" href={{ asset('assets/css/style.css') }}>
    <script src="https://kit.fontawesome.com/fe080625af.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href={{ asset('assets/img/icon-ed.png') }} />
</head>

<body>


    <header>
        <div id="top-header">
                <div class="container-fluid d-flex flex-wrap px-5">
                  <ul class="nav me-auto">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item"><a href={{ path('admin') }} class="nav-link link-light px-2"><i class="fa fa-tachometer"></i>Vous êtes Administrateur - Aller au Tableau de bord ?</a></li>
                    {% else %}
                    <li class="nav-item"><a href="#" class="nav-link link-light px-2"><i class="fa fa-phone"></i>03 20 22 96 48</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-light px-2"><i class="fa fa-envelope-o"></i>contact@electrodeals.tech</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-light px-2"><i class="fa fa-map-marker"></i>Lille, France</a></li>
                    {% endif %}						
                  </ul>
                  <ul class="nav">
                    {% if app.user %}
                    <li class="nav-item"><a href={{ path('app_account') }} class="nav-link link-light px-2"><i class="fa fa-user"></i>Bonjour {{ app.user.firstname|lower }}</a></li>
                    <li class="nav-item"><a href={{ path('app_logout') }} class="nav-link link-light px-2"><i class="fa fa-sign-out"></i>Deconnexion</a></li> 
                    {% else %}
                    <li class="nav-item"><a href={{ path('app_login') }} class="nav-link link-light px-2"><i class="fa fa-sign-in"></i>Connexion</a></li>
                    <li class="nav-item"><a href={{ path('app_register') }} class="nav-link link-light px-2"><i class="fa fa-user-plus"></i>Inscription</a></li>
                    {% endif %}
                  </ul>
                </div>
        </div>
        
        <div id="main-header">
            <div class="container">
                <div class="row">
                    <div class="col d-flex align-items-center justify-content-center">
                        <a href="/" >
                            <img class="img-fluid" src={{ asset('assets/img/electrodeals-logo.png') }} alt="logo">
                        </a>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <form method="GET" action={{ path('app_product') }}>
                      <div class="input-group mx-4 ms-md-5">
                        <input type="text" name="search-product" class="form-control input-custom-l" placeholder="Rechercher un produit...">
                        <button class="btn-custom-r" type="submit" name="btn-search" value="valider">ok</button>
                      </div>
                    </form>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center align-items-end">
                      <a href="">
                           <button type="button" class="bg-my-dark text-white position-relative p-2 mx-4 my-4 my-md-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Panier">
                          <i class="fa fa-shopping-cart"></i>
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-my-yellow text-dark">
                            9
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </button>
                      </a>
                      <a href="">
                           <button type="button" class="bg-my-dark text-white position-relative p-2 mx-3 my-4 my-md-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Lise des souhaits">
                          <i class="fa fa-heart"></i>
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-my-yellow text-dark">
                            9
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </button>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div id="nav">
        <nav class="container navbar navbar-expand-lg">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href={{ path('app_home') }}>Accueil</a>
                  <a class="nav-link" href={{ path('app_product') }}>Produits</a>
                  <a class="nav-link" href="#">Contact</a>
                  <a class="nav-link" href={{ path('app_account') }}>Mon compte</a>
                </div>
              </div>
            </div>
        </nav>
    </div>

  
    <div class="section-header">
        <!-- container -->
        <div class="container">
            <h2 class="h5 ms-md-5 mt-4">
              {% if block('btnBack') is defined %}<a href={{app.request.headers.get('referer')}} class="link-custom me-5 fs-6">retour</a>{% endif %}
              {% block sectionTitle %}Bienvenue chez ElectroDeals{% endblock %}
            </h2>
        </div>
        <!-- /container -->
    </div>



    {% block section %}bloc section ...{% endblock %}
   


    <footer class="bg-my-dark text-bg-dark">
        <div class="container">
            <div class="py-5">
              <div class="row">
                <div class="col-6 col-md-4 mb-3 pe-md-2">
                  <h5 class="mb-4">A PROPOS</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2">ElectroDeals est une entreprise de vente en ligne de produits électroniques neufs et d'occasions.</li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link link-secondary p-0"><i class="fa fa-map-marker me-2"></i>Lille, France</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link link-secondary p-0"><i class="fa fa-envelope-o me-2"></i>contact@electrodeals.tech</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link link-secondary p-0 "><i class="fa fa-phone me-2"></i>03 20 22 96 48</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-2 mb-3">
                  <h5 class="mb-4">INFORMATION</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link link-secondary p-0">Contact</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link link-secondary p-0">Mon compte</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link link-secondary p-0">Panier</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link link-secondary p-0">Liste souhaits</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link link-secondary p-0">Mes commandes</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link link-secondary p-0">Politique de confidentialité</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link link-secondary p-0">Termes & Conditions</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link link-secondary p-0">Aide</a></li>
                  </ul>
                </div>
                <div class="col-md-4 offset-md-1 mb-3">
                  <form>
                    <h5 class="mb-4">NEWSLETTER</h5>
                    <p>Inscrivez-vous à notre newsletter hebdomadaire pour recevoir toutes nos dernières offres et nouveautés.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <div class="input-group">
                            <input type="text" class="input-custom-l" placeholder=" ...@email...">
                            <button class="btn-custom-r" type="button" id="button-addon2">s'inscrire</button>
                        </div>
                    </div>
                  </form>
                </div>
              </div>          
            </div>
        </div>
        <div class="copyright bg-my-dark-light">
            <p class="text-center">Copyright ©2022 Tous droits réservés | ElectroDeals</p>
        </div>
    </footer>


    <script src={{ asset('assets/node_modules/@popperjs/core/dist/umd/popper.min.js') }}></script>
    <script src={{ asset('assets/node_modules/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ asset('assets/js/script.js') }}></script>
</body>

</html>
